<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.central.porn.mapper.KpnSiteActorMapper">

    <select id="getActorListByFavorites" resultType="java.lang.Long">
        select a.actor_id as id
        from (select distinct actor_id from kpn_site_movie where site_id = #{sid} and status = 1) a
                 left join kpn_site_actor b on b.site_id=#{sid} and b.actor_id = a.actor_id
        order by b.favorites ${sortOrder}
        limit #{startIndex}, #{pageSize}
    </select>

    <select id="getActorListByCreateTime" resultType="java.lang.Long">
        select a.actor_id as id
        from (select actor_id, max(actor_create_time) as actor_create_time from kpn_site_movie where site_id = #{sid} and status = 1 group by actor_id) a
                 left join kpn_site_actor b on b.site_id = #{sid} and b.actor_id = a.actor_id
        order by a.actor_create_time ${sortOrder}
            limit #{startIndex}, #{pageSize}
    </select>

    <select id="getActorCount" resultType="java.lang.Long">
        select count(distinct actor_id)
        from kpn_site_movie
        where site_id = #{sid}
          and status = 1
    </select>

</mapper>