<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.proxy.center.mapper.LotteryMapper">
    <select id="findList" resultType="com.central.common.model.Lottery">
        select * from mks_lottery t
    </select>
</mapper>