<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.central.marksix.mapper.LotteryMapper">
    <select id="findList" resultType="com.central.marksix.entity.vo.SiteLotteryVO">
        select ml.id as id,ml.lottery_name as lotteryName,ml.sort as sort,ml.picture as picture,
        ml.bet_deadline_time as betDeadlineTime,ml.bet_settlement_time as betSettlementTime,ml.status as status,
        l.create_time as createTime,l.update_time as updateTime,
        l.site_id as siteId,l.site_code as siteCode,l.site_name as siteName,
        l.create_by as createBy,l.update_by as updateBy,l.site_lottery_id  as siteLotteryId
        from mks_site_lottery l
        LEFT JOIN mks_lottery ml
        ON l.lottery_id=ml.id
        <where>
            1=1
            <if test="p.isDisplay != null and  p.isDisplay != ''">
                and ml.is_display = #{p.isDisplay}
            </if>
            <if test="p.siteId != null and  p.siteId != '' and  p.siteId != 0">
                and l.site_id = #{p.siteId}
            </if>
            <if test="p.siteLotteryId != null and  p.siteLotteryId != '' and  p.siteLotteryId != 0">
                and l.id = #{p.siteLotteryId}
            </if>
            <if test="p.lotteryId != null and  p.lotteryId != '' and  p.lotteryId != 0">
                and ml.id = #{p.lotteryId}
            </if>
            <if test="p.status != null and  p.status != ''">
                and ml.status = #{p.status}
            </if>
            ORDER BY ml.sort <choose><when test="p.sortBy != null and  p.sortBy != '' and  p.sortBy == 2"> DESC </when><otherwise> ASC </otherwise></choose>
        </where>
    </select>
</mapper>