<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.central.marksix.mapper.MoneyLogMapper">

    <select id="getRewardMbsByMbChangeType" resultType="java.math.BigDecimal">
        select ifnull(sum(money), 0)
        from kpn_money_log
        where user_id = #{userId}
          and order_type = #{mbChangeTypeCode}
    </select>

    <select id="getUserTodayPromoteTotalMb" resultType="java.math.BigDecimal">
        select ifnull(sum(money), 0)
        from kpn_money_log
        where user_id = #{userId}
          and `date` = #{date}
          and order_type = #{mbChangeTypeCode}
    </select>
</mapper>