<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.central.marksix.mapper.QuizOrdersMapper">
    <select id="findList" resultType="com.central.common.model.QuizOrders">
        select * from mks_quiz_orders t
        <where>
            1=1
            <if test="p.siteId != null and p.siteId != '' and p.siteId != 0">
                and t.site_id = #{p.siteId}
            </if>
            <if test="p.status != null and p.status != '' and p.status != 0">
                and t.status = #{p.status}
            </if>
            <if test="p.periods != null and p.periods != ''">
                and t.periods = #{p.periods}
            </if>
            <if test="p.siteLotteryId != null and p.siteLotteryId != '' and p.siteLotteryId != 0">
                and t.site_lottery_id = #{p.siteLotteryId}
            </if>
            <if test="p.memberId != null and p.memberId != '' and p.memberId != 0">
                and t.member_id = #{p.memberId}
            </if>
            <if test="p.days!=null and  p.days != '' and p.days == 1"><!-- 今天 -->
                and to_days(t.create_time) = to_days(now())
            </if>
            <if test="p.days!=null and  p.days != '' and p.days == 2"><!-- 昨天 -->
                and to_days(now())-to_days(t.date) =1
            </if>
            <if test="p.days!=null and  p.days != '' and p.days == 3"><!-- 近7天 -->
                and to_days(now())-to_days(t.date) <![CDATA[ <= ]]> 7
            </if>
            ORDER BY t.createTime <choose><when test="p.sortBy != null and  p.sortBy != '' and  p.sortBy == 1"> ASC </when><otherwise> DESC </otherwise></choose>
        </where>
    </select>
</mapper>