<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.central.marksix.mapper.QuizOrdersMapper">
    <select id="findList" resultType="com.central.common.model.QuizOrders">
        select * from mks_quiz_orders t
        <where>
            1=1
            <if test="p.siteId != null and p.siteId != '' and p.siteId != 0">
                and t.site_id = #{p.siteId}
            </if>
            <if test="p.status != null and p.status != '' and p.status != 0">
                and t.status = #{p.status}
            </if>
            <if test="p.periods != null and p.periods != ''">
                and t.periods = #{p.periods}
            </if>
            <if test="p.siteLotteryId != null and p.siteLotteryId != '' and p.siteLotteryId != 0">
                and t.site_lottery_id = #{p.siteLotteryId}
            </if>
            <if test="p.memberId != null and p.memberId != '' and p.memberId != 0">
                and t.member_id = #{p.memberId}
            </if>
            <if test="p.days!=null and  p.days != '' and p.days == 1"><!-- 今天 -->
                and to_days(t.create_time) = to_days(now())
            </if>
            <if test="p.days!=null and  p.days != '' and p.days == 2"><!-- 昨天 -->
                and to_days(now())-to_days(t.create_time) =1
            </if>
            <if test="p.days!=null and  p.days != '' and p.days == 3"><!-- 近7天 -->
                and to_days(now())-to_days(t.create_time) <![CDATA[ <= ]]> 7
            </if>
            ORDER BY
            <if test="p.sortByCond != null and  p.sortByCond != '' and  p.sortByCond == 2">
                t.betting_time
            </if>
            <if test="p.sortByCond != null and  p.sortByCond != '' and  p.sortByCond == 3">
                t.cancel_time
            </if>
            <choose><when test="p.sortByCond != null and  p.sortByCond != '' and  p.sortByCond == 4"> t.settlement_time </when><otherwise> t.update_time </otherwise></choose>
            <choose><when test="p.sortBy != null and  p.sortBy != '' and  p.sortBy == 1"> ASC </when><otherwise> DESC </otherwise></choose>
        </where>
    </select>
    <select id="statiOrders" resultType="com.central.marksix.entity.vo.StatiQuizOrdersVo">
        select SUM(t.total_price) as statiTotalPrice,SUM(t.win_mount) as statiWinMount from mks_quiz_orders t
        <where>
            1=1
            <if test="p.siteId != null and p.siteId != '' and p.siteId != 0">
                and t.site_id = #{p.siteId}
            </if>
            <if test="p.status != null and p.status != '' and p.status != 0">
                and t.status = #{p.status}
            </if>
            <if test="p.periods != null and p.periods != ''">
                and t.periods = #{p.periods}
            </if>
            <if test="p.siteLotteryId != null and p.siteLotteryId != '' and p.siteLotteryId != 0">
                and t.site_lottery_id = #{p.siteLotteryId}
            </if>
            <if test="p.memberId != null and p.memberId != '' and p.memberId != 0">
                and t.member_id = #{p.memberId}
            </if>
            <if test="p.days!=null and  p.days != '' and p.days == 1"><!-- 今天 -->
                and to_days(t.create_time) = to_days(now())
            </if>
            <if test="p.days!=null and  p.days != '' and p.days == 2"><!-- 昨天 -->
                and to_days(now())-to_days(t.create_time) =1
            </if>
            <if test="p.days!=null and  p.days != '' and p.days == 3"><!-- 近7天 -->
                and to_days(now())-to_days(t.create_time) <![CDATA[ <= ]]> 7
            </if>
        </where>
    </select>


    <select id="findPage" resultType="com.central.common.model.QuizOrders">
        select t.* from sys_user u left join mks_quiz_orders t on  t.member_id=u.id
        <where>
            1=1 and t.update_time  between #{p.startTime} and #{p.endTime}
            <if test="p.userIds != null ">
                n.number in
                <foreach item='item' index='index' collection='p.userIds' open='(' separator=',' close=')'>
                    #{item}
                </foreach>
            </if>

            <if test="p.parentName != null and p.parentName != '' and p.parentName != 0">
                and u.parent_name = #{p.parentName}
            </if>
            <if test="p.siteCode != null and p.siteCode != '' ">
                and t.site_code = #{p.siteCode}
            </if>
            <if test="p.status != null and p.status != '' and p.status != 0">
                and t.status = #{p.status}
            </if>

            <if test="p.periods != null and p.periods != ''">
                and t.periods = #{p.periods}
            </if>
            <if test="p.siteLotteryId != null and p.siteLotteryId != '' and p.siteLotteryId != 0">
                and t.site_lottery_id = #{p.siteLotteryId}
            </if>

            ORDER BY t.update_time
            <choose>
                <when test="p.sortBy != null and  p.sortBy != '' and  p.sortBy == 1">ASC </when>
                <otherwise> DESC </otherwise>
            </choose>
        </where>
    </select>
</mapper>