<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.central.backend.mapper.KpnActorMapper">
    <select id="findList" resultType="com.central.backend.model.vo.KpnActorVO">
        select * from kpn_actor a
        LEFT JOIN
        <choose>
            <when test="p.siteId != null and  p.siteId != '' and p.siteId != 0">
                (SELECT m.actor_id,sum(sm.vv) as vv,sum(sm.favorites) as favorites,count(sm.id) as total FROM kpn_site_movie sm LEFT JOIN kpn_movie m ON sm.movie_id= m.id WHERE sm.status='1' and sm.site_id = #{p.siteId} GROUP BY m.actor_id) s
            </when>
            <otherwise>
                (SELECT m.actor_id,sum(m.vv) as vv,sum(m.favorites) as favorites,count(m.id) as total FROM kpn_movie m WHERE m.status='1' GROUP BY m.actor_id) s
            </otherwise>
        </choose>
            ON a.id=s.actor_id
        <where>
            1=1
            <if test="p.id != null and p.id != '' and p.id != 0">
                and a.id = #{p.id}
            </if>
            <if test="p.nameZh != null and p.nameZh != ''">
                and a.name_zh LIKE CONCAT('%',#{p.nameZh},'%')
            </if>
            <if test="p.nameEn != null and p.nameEn != ''">
                and a.name_en LIKE CONCAT('%',#{p.nameEn},'%')
            </if>
            <if test="p.nameKh != null and p.nameKh != ''">
                and a.name_kh LIKE CONCAT('%',#{p.nameKh},'%')
            </if>
            <if test="p.startTime!=null">
                and DATE_FORMAT(a.create_time,'%Y-%m-%d %H:%i:%s') <![CDATA[ >= ]]>DATE_FORMAT(#{p.startTime},'%Y-%m-%d %H:%i:%s')
            </if>
            <if test="p.endTime!=null">
                and DATE_FORMAT(a.create_time,'%Y-%m-%d %H:%i:%s') <![CDATA[ <= ]]>DATE_FORMAT(#{p.endTime},'%Y-%m-%d %H:%i:%s')
            </if>
            <choose>
                <when test="p.orderByParms != null and  p.orderByParms != '' and  p.orderByParms == 1">
                    ORDER BY s.total <choose><when test="p.sortBy != null and  p.sortBy != '' and  p.sortBy == 1"> ASC </when><otherwise> DESC </otherwise></choose>
                </when>
                <when test="p.orderByParms != null and  p.orderByParms != '' and  p.orderByParms == 2">
                    ORDER BY s.vv <choose><when test="p.sortBy != null and  p.sortBy != '' and  p.sortBy == 1"> ASC </when><otherwise> DESC </otherwise></choose>
                </when>
                <when test="p.orderByParms != null and  p.orderByParms != '' and  p.orderByParms == 3">
                    ORDER BY s.favorites <choose><when test="p.sortBy != null and  p.sortBy != '' and  p.sortBy == 1"> ASC </when><otherwise> DESC </otherwise></choose>
                </when>
                <otherwise>
                    ORDER BY a.create_time <choose><when test="p.sortBy != null and  p.sortBy != '' and  p.sortBy == 1"> ASC </when><otherwise> DESC </otherwise></choose>
                </otherwise>
            </choose>
        </where>
    </select>
</mapper>