<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.central.backend.mapper.KpnFrontpageCountMapper">
    <select id="findSummaryData" resultType="com.central.backend.model.vo.KpnFrontpageCountVO">
        select sum(ifnull(pv, 0)) as pv_count,
                sum(ifnull(uv, 0)) as uv_count,
                sum(ifnull(recharge_number, 0)) as recharge_number,
               sum(ifnull(recharge, 0)) as recharge_amount,
               sum(ifnull(new_user_num, 0)) as add_users
               from rpt_site_summary t
        <where>
             1=1
            <if test="p.status!=null and  status != '' and p.status = 2"><!-- 昨天 -->
                and to_days(now())-to_days(t.date) =1
            </if>
            <if test="p.status!=null and  p.status != '' and p.status = 3"><!-- 本月 -->
                and date_format(curdate(),'%y%m') = date_format(t.date,'%y%m')
            </if>
        </where>
    </select>

    <select id="dataTrend" resultType="com.central.backend.model.vo.KpnFrontpageCountVO">
        select sum(ifnull(pv, 0)) as pv_count,
        sum(ifnull(uv, 0)) as uv_count,
        sum(ifnull(recharge_number, 0)) as recharge_number,
        sum(ifnull(recharge, 0)) as recharge_amount,
        sum(ifnull(new_user_num, 0)) as add_users
        from rpt_site_summary t
        <where>
            1=1
            <if test="p.siteId != null and  p.siteId != '' and  p.siteId != 0">
                and t.site_id = #{p.siteId}
            </if>
            <if test="p.status!=null and  p.status != '' and  p.status == 1">
                <if test="p.startTime!=null">
                    and date_format(t.date,'%Y%m%d') <![CDATA[ >= ]]>DATE_FORMAT(#{p.startTime},'%Y%m%d')
                </if>
                <if test="p.endTime!=null">
                    and date_format(t.date,'%Y%m%d') <![CDATA[ <= ]]>DATE_FORMAT(#{p.endTime},'%Y%m%d')
                </if>
            </if>
            <if test="p.status!=null and  p.status != '' and  p.status == 2">
                <if test="p.startTime!=null">
                    and date_format(t.date,'%Y%m') <![CDATA[ >= ]]>DATE_FORMAT(#{p.startTime},'%Y%m')
                </if>
                <if test="p.endTime!=null">
                    and date_format(t.date,'%Y%m') <![CDATA[ <= ]]>DATE_FORMAT(#{p.endTime},'%Y%m')
                </if>
            </if>
        order by t.date asc
        </where>
    </select>
</mapper>