<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.central.backend.mapper.pay.KpnSiteProductMapper">
    <select id="findList" resultType="com.central.common.model.pay.KpnSiteProduct">
        select * from kpn_site_product t
        <where>
            1=1
            <if test="p.siteId != null and  p.siteId != '' and  p.siteId != 0">
                and t.site_id = #{p.siteId}
            </if>
        </where>
        ORDER BY t.sort ASC
    </select>
</mapper>