<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.central.backend.mapper.QuizOrdersMapper">
   <!-- <select id="findList" resultType="com.central.common.model.QuizOrders">
        select * from mks_quiz_orders t
    </select>-->


    <select id="findList" resultType="com.central.common.model.QuizOrders">
        select t.* from sys_user u left join mks_quiz_orders t on  t.member_id=u.id
        <where>
            1=1
            <if test="p.userIds != null ">
                n.number in
                <foreach item='item' index='index' collection='p.userIds' open='(' separator=',' close=')'>
                    #{item}
                </foreach>
            </if>

            <if test="p.parentName != null and p.parentName != '' and p.parentName != 0">
                and u.parent_name = #{p.parentName}
            </if>
            <if test="p.siteCode != null and p.siteCode != '' ">
                and t.site_code = #{p.siteCode}
            </if>
            <if test="p.status != null and p.status != '' and p.status != 0">
                and t.status = #{p.status}
            </if>

            <if test="p.periods != null and p.periods != ''">
                and t.periods = #{p.periods}
            </if>
            <if test="p.siteLotteryId != null and p.siteLotteryId != '' and p.siteLotteryId != 0">
                and t.site_lottery_id = #{p.siteLotteryId}
            </if>
            <if test="p.days!=null and  p.days != '' and p.days = 1"><!-- 今天 -->
                and to_days(t.create_time) = to_days(now())
            </if>
            <if test="p.days!=null and  p.days != '' and p.days = 2"><!-- 昨天 -->
                and to_days(now())-to_days(t.create_time) =1
            </if>
            <if test="p.days!=null and  p.days != '' and p.days = 3"><!-- 近7天 -->
                and to_days(now())-to_days(t.create_time) <![CDATA[ <= ]]> 7
            </if>
            ORDER BY t.createTime
                <choose>
                    <when test="p.sortBy != null and  p.sortBy != '' and  p.sortBy == 1">ASC </when>
                    <otherwise> DESC </otherwise>
                </choose>
        </where>
    </select>

    <select id="userReportForms" resultType="com.central.backend.model.dto.UserReportFormsDto">
        SELECT
        u.username,
        u.parent_name,
        u.m_balance,
        COALESCE(sum( o.total_price ),0)  as order_price,

        COALESCE(sum( o.win_mount ),0) as win_mount ,

        COALESCE(sum( o.win_lose_amount),0) as win_lose_amount,

        COALESCE(sum( r.money ) ,0) as  recharge,

        COALESCE( abs( sum( w.money )),0)  as  withdrawal,

        COALESCE(sum( r.money )/sum( o.total_price ),0)  as win_rate
        from
        sys_user u
        left JOIN ( select * from mks_quiz_orders where create_time between #{p.startTime} and #{p.endTime} ) o ON u.id = o.member_id
        LEFT JOIN (select * from mks_money_log where order_type=6 and create_time between #{p.startTime} and #{p.endTime} ) r ON u.id = r.user_id
        LEFT JOIN (select * from mks_money_log where order_type=5 and create_time between #{p.startTime} and #{p.endTime} ) w ON u.id = w.user_id
        <where>
            1=1
            and
            u.site_id=#{p.siteId}
            and u.type='APP'
            GROUP BY u.id ORDER BY sum( r.money ) DESC
        </where>
    </select>

</mapper>