<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.central.backend.mapper.ipmanage.SysWhiteIpMapper">
    <select id="findList" resultType="com.central.common.model.ipmanage.SysWhiteIp">
        select * from sys_white_ip t
        <where>
            1=1
            <if test="p.ip != null and p.ip != ''">
                and t.ip = #{p.ip}
            </if>
            <if test="p.updateBy != null and p.updateBy != ''">
                and t.update_by LIKE CONCAT('%',#{p.updateBy},'%')
            </if>
            <if test="p.startTime!=null">
                and DATE_FORMAT(t.update_time,'%Y-%m-%d %H:%i:%s') <![CDATA[ >= ]]>DATE_FORMAT(#{p.startTime},'%Y-%m-%d %H:%i:%s')
            </if>
            <if test="p.endTime!=null">
                and DATE_FORMAT(t.update_time,'%Y-%m-%d %H:%i:%s') <![CDATA[ <= ]]>DATE_FORMAT(#{p.endTime},'%Y-%m-%d %H:%i:%s')
            </if>
        </where>
    </select>
</mapper>