<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.central.backend.mapper.SiteLotteryMapper">
    <select id="findList" resultType="com.central.backend.model.vo.CategoryVO">
        select mc.id as id,mc.name as name,mc.sort as sort,mc.remark as remark,
        l.create_time as createTime,l.update_time as updateTime,t.category_id as categoryId
        l.create_by as createBy,l.update_by as updateBy,l.site_lottery_id  as lotteryId
        from mks_site_category_lottery l
        LEFT JOIN mks_category mc
        ON l.category_id=mc.id
        <where>
            1=1
            <if test="p.lotteryId != null and  p.lotteryId != '' and p.lotteryId != 0">
                and l.lottery_id = #{p.lotteryId}
            </if>
            <if test="p.name != null and p.name != ''">
                and mc.name LIKE CONCAT('%',#{p.name},'%')
            </if>
            ORDER BY mc.sort <choose><when test="p.sortBy != null and  p.sortBy != '' and  p.sortBy == 2"> DESC </when><otherwise> ASC </otherwise></choose>
        </where>
    </select>
</mapper>